@keyframes title-display {
  0% {
    transform: translateY(-750px);
  }
  25% {
    transform: translateY(-562.5px);
  }
  50% {
    transform: translateY(-375px);
  }
  75% {
    transform: translateY(-187.5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes start-btn-display {
  0% {
    transform: translateY(500px);
  }
  25% {
    transform: translateY(375px);
  }
  50% {
    transform: translateY(250px);
  }
  75% {
    transform: translateY(125px);
  }

  100% {
    transform: translateY(0px);
  }
}
body {
  background-image: url("https://cdn.wallpapersafari.com/6/6/08c4mH.jpg");
  width: 100%;
  padding-bottom: 500px;
}
h1 {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 5px;
  color: dodgerblue;
}
.name-div {
  display: flex;
  justify-content: center;
  border: 5px solid black;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40px;
  background-color: whitesmoke;
}
.title-img-div {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.game-title-img {
  animation: title-display 5s ease-in 1;
}

.start-play-div {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.start-play-btn {
  cursor: pointer;
  background-color: #3083e4;
  color: #ffb600;
  width: 370px;
  height: 95px;
  font-size: 60px;
  font-weight: bold;
  font-family: "Mouse Memoirs", sans-serif;
  animation: start-btn-display 5s ease-in-out 1;
  position: relative;
}
.start-play-btn:hover {
  color: whitesmoke;
}
.start-play-btn::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: orange;
  transition: transform 300ms ease;
  transform: scaleX(0);
  transform-origin: left;
}
.start-play-btn:hover::before,
.start-play-btn:focus::before {
  transform: scaleX(1);
}
.start-play-btn {
  z-index: 1;
}

.welcome-msg {
  font-family: "Mouse Memoirs", sans-serif;
  color: #3083e4;
  font-size: 60px;
}

.player-info-div {
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  align-items: center;
  text-align: center;
}
.player-name-form {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.player-name {
  font-family: "Mouse Memoirs", sans-serif;
  color: #3083e4;
  font-weight: bold;
  letter-spacing: 5px;
}
.player-1-input {
  width: 350px;
  border-radius: 150px;
  height: 75px;
  outline: none;
  font-size: 35px;
  padding-left: 35px;
  font-weight: bold;
}
.player-1-input::placeholder {
  font-size: 25px;
  font-weight: bold;
}

.play-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 7.5%;
}

.play-btn {
  cursor: pointer;
  background-color: #3083e4;
  color: #ffb600;
  width: 370px;
  height: 95px;
  font-size: 50px;
  letter-spacing: 5px;
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: bold;
  position: relative;
}
.play-btn:hover {
  color: whitesmoke;
}
.play-btn::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: orange;
  transition: transform 300ms ease;
  transform: scaleX(0);
  transform-origin: left;
}
.play-btn:hover::before,
.play-btn:focus::before {
  transform: scaleX(1.01);
}
.play-btn {
  z-index: 1;
}

/* **********************MAIN PAGE CSS**************************** */
.border {
  border-bottom: 10px solid black;
  display: flex;

  height: 75px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  padding-bottom: 10px;
}
.my-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.title-div {
  display: flex;
  justify-content: center;
}
.title-img {
  width: 350px;
}
.score-sec-div {
  align-items: center;
  font-size: 20px;
  gap: 20px;
  height: 70px;
}
.score {
  font-size: 40px;
}

.main-sec-div {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.hide-words-div {
  display: flex;
  justify-content: center;
  font-size: 150px;
  letter-spacing: 25px;
}

.keyboard-div {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 520px;
  margin-top: -100px;
}
.kb-div {
  display: flex;
  opacity: 0;
  width: 1000px;
}
.img-div {
  opacity: 0;
}
.key {
  cursor: pointer;
  width: 80px;
  height: 60px;
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
}
#line-2-kb {
  margin-left: 50px;
}
#line-3-kb {
  margin-left: 165px;
}

.char {
  color: blue;
}

.hidden {
  display: none;
}

.img-1 {
  width: 300px;
}

.result-div {
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}
.nxt-pl {
  cursor: pointer;
  height: 100px;
  width: fit-content;
  padding: 20px;
}

.categories-div {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cat-1-btn {
  height: 75px;
}

.top-sec-div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 80px;
  align-items: center;
}

.my-box {
  opacity: 0;
  display: flex;
  height: 150px;
  margin-top: 250px;
  width: 50%;
}

.cat-heading {
  width: 250px;
  height: 50px;
  align-items: center;
}

.key {
  background-color: dodgerblue;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 20px;
  height: 60px;
  border: 5px solid whitesmoke;
  box-shadow: 10px 5px 5px black;
}

